<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Customizer</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
    {% block custom_styles %}
    {% endblock %}
</head>
<body class="bg-gray-50 text-gray-900">

    <nav class="bg-white shadow">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-4">
                    <!-- logo -->
                    <div>
                        <a href="/" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <svg class="h-6 w-6 mr-1 text-blue-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.927c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.921-.755 1.688-1.54 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.784.57-1.838-.197-1.539-1.118l1.518-4.674a1 1 0 00-.363-1.118L2.37 9.1c-.783-.57-.38-1.81.588-1.81h4.927a1 1 0 00.95-.69l1.519-4.674z"/>
                            </svg>
                            <span class="font-bold">Resume Customizer</span>
                        </a>
                    </div>
                </div>
                <!-- secondary nav -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="{% url 'resume:index' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">Resume</a>
                    <a href="{% url 'home:index' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">Cover Letter</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'workprofile:index' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">Profile</a>
                        <a href="{% url 'home:logout' %}" class="py-2 px-3 bg-red-500 text-white rounded hover:bg-red-600">Logout</a>
                    {% else %}
                        <a href="{% url 'home:login' %}" class="py-2 px-3 bg-blue-500 text-white rounded hover:bg-blue-600">Login</a>
                        <a href="{% url 'home:register' %}" class="py-2 px-3 bg-gray-300 text-gray-900 rounded hover:bg-gray-400">Register</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <main class="flex-grow">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8" style="min-height: 100vh;">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    <footer class="bg-white shadow mt-16">
        <div class="max-w-6xl mx-auto px-4 py-6">
            <p class="text-gray-700 text-center">© 2024 Resume Customizer by <a class="text-blue-400" target="_blank" href="https://www.linkedin.com/in/motidivya/">Divyesh Nandlal Vishwakarma</a>. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
